<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<% include ./template/header.ejs %>
    <div class="container-fluid">
  		<div class="row">
  			<div class="col-md-4">
  				<ul class="nav">
  					<li class="nav-list selected"><a href=""><i class="glyphicon glyphicon-star-empty"></i>推荐</a></li>
  					<li class="nav-list"><a href=""><i class="glyphicon glyphicon-play-circle"></i>视屏</a></li>
  					<li class="nav-list"><a href=""><i class="glyphicon glyphicon-record"></i>搞笑</a></li>
  					<li class="nav-list"><a href=""><i class="glyphicon glyphicon-tint"></i>美女</a></li>
  					<li class="nav-list"><a href=""><i class="glyphicon glyphicon-user"></i>明星</a></li>
  				</ul>
  			</div>
  			<div class="col-md-8">
  				<div class="row micro-content">
  					<div class="col-md-12">
  						<div class="row">
 								<h4><a href="">双台风”逼近，明起东莞气温骤降、狂风暴雨</a></h4>
  							<div class="col-md-2">
  								<img class="news-img" src="/images/1.jpg" alt="">
  							</div>
  							<div class="col-md-10 text-content">
  									【台风消息】17日05时“莎莉嘉”（台风级）中心位于海南省万宁市东偏南方大约570公里的南海中部海面上，中心附近最大风力13级（38米/秒）。预计，“莎莉嘉”将以20公里左右的时速向西偏北方向移动，强度逐渐加强，并于18日白天登陆海南岛。受其外围环流影响，18到19日我市有一次大雨到暴雨降水过程，沿海地区伴有6-7级大风，请注意防范。另外，今年第22号台风“海马”（台风级）05时其中心位于距离菲律宾马尼拉东偏南方约1790公里的西北太平洋洋面上，20日进入南海东北部海面，请密切关注该台风动态。东莞市气象台10月17日8时发布
  							</div>
  						</div>
  						<div class="row">
 								<h4><a href="">双台风”逼近，明起东莞气温骤降、狂风暴雨</a></h4>
  							<div class="col-md-2">
  								<img class="news-img" src="/images/1.jpg" alt="">
  							</div>
  							<div class="col-md-10 text-content">
  									【台风消息】17日05时“莎莉嘉”（台风级）中心位于海南省万宁市东偏南方大约570公里的南海中部海面上，中心附近最大风力13级（38米/秒）。预计，“莎莉嘉”将以20公里左右的时速向西偏北方向移动，强度逐渐加强，并于18日白天登陆海南岛。受其外围环流影响，18到19日我市有一次大雨到暴雨降水过程，沿海地区伴有6-7级大风，请注意防范。另外，今年第22号台风“海马”（台风级）05时其中心位于距离菲律宾马尼拉东偏南方约1790公里的西北太平洋洋面上，20日进入南海东北部海面，请密切关注该台风动态。东莞市气象台10月17日8时发布
  							</div>
  						</div>
  						<div class="row">
 								<h4><a href="">双台风”逼近，明起东莞气温骤降、狂风暴雨</a></h4>
  							<div class="col-md-2">
  								<img class="news-img" src="/images/1.jpg" alt="">
  							</div>
  							<div class="col-md-10 text-content">
  									【台风消息】17日05时“莎莉嘉”（台风级）中心位于海南省万宁市东偏南方大约570公里的南海中部海面上，中心附近最大风力13级（38米/秒）。预计，“莎莉嘉”将以20公里左右的时速向西偏北方向移动，强度逐渐加强，并于18日白天登陆海南岛。受其外围环流影响，18到19日我市有一次大雨到暴雨降水过程，沿海地区伴有6-7级大风，请注意防范。另外，今年第22号台风“海马”（台风级）05时其中心位于距离菲律宾马尼拉东偏南方约1790公里的西北太平洋洋面上，20日进入南海东北部海面，请密切关注该台风动态。东莞市气象台10月17日8时发布
  							</div>
  						</div>
              <!-- <form action="/uploadImage" enctype="multipart/form-data" method="post">
               <input type="file" name="upload"><br>
               <input type="submit" value="Upload">
              </form> -->
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    <% include ./template/footer.ejs %>
  </body>
</html>


