<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title%></title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
	<link rel="stylesheet" href="/swiper/dist/css/swiper.min.css">
</head>
<body>
	<% include ./template/header.ejs%>
	<div class="swiper-container">
		<div class="swiper-wrapper slider1">
			<div class="swiper-slide">
				
			</div>
			<div class="swiper-slide slider2">
				
			</div>
			<div class="swiper-slide slider3">
				
			</div>
		</div>
	</div>
	<div class="container-fluid login">
		<div class="row-fluid">
			<div class="span12 form-signin ">
				<% if(locals['error']) { %>
					<div class="alert alert-danger" role='alert'>
			        <%= error %>
			    </div>
				<% } %>
				<form action="login" class="form-horizontal" method="post">
					<input class="form-control" name="username" type="text" placeholder="用户名" />
					<input class="form-control" name="password" type="password" placeholder="密码" />
					<input class="form-control" name="valicode" type="text" placeholder="验证码" />
					<canvas id="valicode" class="form-control"></canvas> 
					<button type="submit" class="form-control btn btn-primary">登录</button>
				</form>
			</div>
		</div>
	</div>
	<% include ./template/footer.ejs %>
	<script src='/swiper/dist/js/swiper.jquery.min.js'></script>
	<script>
	(function init() {
		//初始化swiper滚动
		var swiper = new Swiper('.swiper-container',{
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        autoplay: 2500,
	        autoplayDisableOnInteraction: false
	    });

		$("#valicode").on('click',function(){
			window.location.reload();
		});

	    //绘制验证码
	    var canvas = document.getElementById('valicode');
	    var context = canvas.getContext('2d');
	    context.font="60px Verdana";
		// 创建渐变
		var gradient=context.createLinearGradient(0,0,canvas.width,0);
		gradient.addColorStop("0","magenta");
		gradient.addColorStop("0.7","black");
		gradient.addColorStop("0.5","blue");
		gradient.addColorStop("0.8","green");
		gradient.addColorStop("1.0","red");
		// 用渐变填色
		context.fillStyle=gradient;
		context.fillText(unescape("<%=locals['valicode']%>"),10,90);
	})();

    </script>
</body>
</html>