<% if (!locals['bloglist']){%>
<div class="blog-list">
	暂无内容
</div>
<% }else{%>
	<% var blogArr = locals['bloglist']; %>
	<% for(var i in blogArr){%>
		<div class="blog-list">
			<div class="row">
				 <div class="col-md-2">
				 		<img class="blog-img" src="/images/5.jpg" alt="">
				 </div>
				 <div class="col-md-10">
				 		<div class="blog-title">
				 			<a><%= blogArr[i].username%></a>
				 			<div>
				 				<span><%= blogArr[i].createtime %> 来自Orange7 plus</span>
				 			</div>
				 		</div>
				 		<div class="blog-content">
				 			<p>
				 				<%- blogArr[i].content%>
				 			</p>
				 		</div>
				 </div>
			</div>
		</div>
		<%}%>
<%}%>