<footer class="
footer navbar-fixed-bottom ">
    <div class="container">
    	<a href=mailto:18246063093@163.com>18246063093@163.com</a>
    	<span class="pull-right">联系我 QQ:1136181748 Tel:18246063093</span>
    </div>
</footer>
<script src='/javascripts/jquery/jquery.min.js'></script>
<script src='/bootstrap/dist/js/bootstrap.min.js'></script>
