<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header">
			<div class="herder-tag-content">
				<a href="/index">主页</a>
				<%if(!locals['userid']){%>
					<a href="/users/login" class="pull-right">登录</a>
					<a href="/users/register" class="pull-right">注册</a>
				<%} %>
				<%if(locals['userid']){%>
					<a href="/users/logout" class="pull-right">登出</a>
					<a href="/blog" class="pull-right">我的</a>
				<%} %>
					<a href="/users/blog" class="pull-right">写博客</a>
			</div>
		</div>
	</div>
</div>
