<div class="col-sm-3">
	<ul class="nav">
		<li class="nav-list "><a href="/index/1"><i class="glyphicon glyphicon-star-empty"></i><span>推荐</span></a></li>
		<li class="nav-list"><a href="/index/2"><i class="glyphicon glyphicon-italic"></i><span>CSS</span></a></li>
		<li class="nav-list"><a href="/index/3"><i class="glyphicon glyphicon-record"></i><span>JS</span></a></li>
		<li class="nav-list"><a href="/index/4"><i class="glyphicon glyphicon-tint"></i><span>NodeJS</span></a></li>
		<li class="nav-list"><a href="/index/5"><i class="glyphicon glyphicon-fire"></i><span>其他</span></a></li>
	</ul>
</div>