<div class="col-sm-3">
	<ul class="nav">
		<li class="nav-list "><a href=""><i class="glyphicon glyphicon-star-empty"></i><span>推荐</span></a></li>
		<li class="nav-list"><a href=""><i class="glyphicon glyphicon-italic"></i><span>CSS</span></a></li>
		<li class="nav-list"><a href=""><i class="glyphicon glyphicon-record"></i><span>JS</span></a></li>
		<li class="nav-list"><a href=""><i class="glyphicon glyphicon-tint"></i><span>NodeJS</span></a></li>
		<li class="nav-list"><a href=""><i class="glyphicon glyphicon-fire"></i><span>其他</span></a></li>
	</ul>
</div>