<%
	/* 留言内容加载模板*/
%>

<%if(locals['messageList'] && locals['messageList'].length){%>
	<%var messagelist = locals['messageList'];%>
	<%for (var i in messagelist){%>
	<div class="message-list">
		<div class="row">
		  	<div class="col-sm-12">
			  	<div class="blog-title">
			  		<a><%=messagelist[i].username%></a>
			  		<span><%=messagelist[i].createtime%></span>
			  	</div>
		  	</div>
		  	<div class="col-sm-12 message-content">
		     	 <p><%-messagelist[i].content%></p>
		  	</div>
		</div>
    </div>
	<%}%>
<%}%>